.carousel .carousel-container{
    max-width:80%;
    position: relative;
    margin: auto;
    height:300px;
}
.carousel .carousel-container img{
    object-fit: cover;
    height: 300px;
    width:100%;
}
.carousel .carousel-container .next,
.carousel .carousel-container .prev{
    cursor: pointer;
    position:absolute;
    top:50%;
    width:auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.carousel .carousel-container .slides{
    position:relative;
}
.carousel .carousel-container .close-slide{
    position:absolute;
    top:0;
    right:0;
    color:var(--color-white);
    cursor:pointer;
}
.carousel .carousel-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.carousel .carousel-container .prev:hover,
.carousel .carousel-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel .carousel-container .caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    top:98%;
    text-align: center;
}
.carousel .carousel-container .dots{
    text-align: center;
}
.carousel .carousel-container .dots .dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: white;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
    }

    @keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}