@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import '../css/hidemenu.component.css';

/* Reset */
*{
    margin:0;
    padding:0;
}
:root{
    --color-black: rgba(33,34,39,1);
    --color-orange:#ffa735;
    --color-white:#e7e7e7;
    --color-silver:#b6b6b6;
    --color-red:#e22a53;
    --color-dark:#1f1f25;
}
html, body{
    width:100%;
    height:100%;
}
body{
    max-width:1920px;
    margin: 0 auto;
    background:var(--color-black);
    font-family: 'Baloo Tamma 2', cursive;;
}
.main{
    height:100%;
    /* margin-left: 280px; */
    display:flex;
}


/* SIDEBAR */
.main .mdc-drawer{
    overflow: visible;
}
.main .nav{
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background: linear-gradient(180deg, var(--color-dark) 60%, var(--color-black) 100%);
}
.main .nav .shrine-title{
    color:var(--color-white);
    text-align: center;
    font-size:30px;
    text-transform: uppercase;
    margin: 20px 0;
}
.main .nav .mdc-list{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.main .nav .mdc-list button{
    transition: all 1s;
}
.main .nav .mdc-list button:active{
    background-color: silver;
    background-size: 100%;
}
.main .nav .mdc-list .mdc-button__label{
    color:var(--color-orange);
}
.main .custom-button{
    position: fixed;
    bottom:0;
    left:0;
    z-index: 6;
    background:var(--color-silver);
    border-radius:50%;
    width:40px;
    height:40px;
    min-width: 40px !important;
}
/* END SIDEBAR */

/* CHAT */
.main .container-chat{
    height: 100%;
    width:100%;
    /* max-width:726px; */
}
/* END CHAT */

/* CONTACT */
.main .container-contact{
    height:100%;
    width:100%;
    max-width:350px;
    margin-left:auto;
    color:var(--color-silver);
    background: linear-gradient(180deg, var(--color-dark) 60%, var(--color-black) 100%);
}
.main .container-contact .contact{
    padding:0;
}
.main .container-contact ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    max-height: 485px;
    overflow: auto;
}
.main .container-contact ul li{
    display:flex;
    flex-direction: row;
    width: 100%;
    border-bottom:1px solid #e22a5360;
}
.main .container-contact ul li button{
    width:100%;
    background: transparent;
    border:none;
    outline:none;
    color:var(--color-silver);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor:pointer;
    transition: all 1s;
    background-color: var(--color-dark);
    padding:8px;
}
.main .container-contact ul li button:hover{
    background:#b6b6b620;
}
.main .container-contact ul li button:active{
    background-color: silver;
    background-size: 100%;
    transition: all 1s;
}
.main .container-contact ul li button .img{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:50px;
    width:100%;
    max-width: 50px;
    background:var(--color-silver);
    border-radius: 50%;
    margin-right: 10px;
}
.main .container-contact ul li button .img i{
    font-size:35px;
    color:var(--color-dark);
}
.main .container-contact ul li button .text{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    flex-direction: column;
}
.main .container-contact ul li button .text .name{
    font-size:11.5px;
    color: var(--color-orange);
    font-style: italic;
}
/* END CONTACT */


/* SEARCH ALEATORY */
.main .container-sa {
	position: fixed;
    bottom: 20px;
    right: 30px;
}
.main .container-sa .btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-orange);
    cursor:pointer;
}
/* END SEARCH ALEATORY */


 /* SEARCH PEOPLE */
.main .container-contact .container-sp {
    background: var(--color-dark);
	height: 40px;
    border-radius: 40px;
	padding: 10px;
	border: 2px solid var(--color-orange);
    margin: 13px 0;
}
.main .container-contact .container-sp .sp{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.main .container-contact .container-sp .sp-btn {
	color: black;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--color-orange);
	display: flex;
	justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main .container-contact .container-sp .sp-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 240px;
}
/* END SEARCH PEOPLE */

/* CHAT BALLON */

.main .container-cb {
	width: 120px;
	height: 80px;
	background: var(--color-orange);
	position: absolute;
	border-radius: 10px;
	top: 50%;
	left: 34%;
	position: absolute;
	transform: translate(-50%,-50%)
}
.main .container-cb:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-right: 60px solid var(--color-orange);
	border-bottom: 60px solid transparent;
	margin: 0px 0 0 -16px;
}
/* END CHAT BALLON */

.main .container-cb2 {
	width: 120px;
	height: 80px;
	background: grey;
	position: absolute;
	border-radius: 10px;
	top: 57%;
	left: 56%;
	position: absolute;
	transform: translate(-50%,-50%)
}
.main .container-cb2:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-left: 60px solid grey;
	border-bottom: 50px solid transparent;
	margin: 0px 0 0 80px;
}

/* Fora do Main */
.hide-left{
    left: -256px !important;
}

/* MEDIA QUERIES */
@media (max-width:768px){
    .main .container-chat{
        display:none;
    }
    .main .container-contact{
        width:100%;
        margin: 0;
        max-width: 100%;
    }
    .main .container-contact ul li button .img{
        margin-right: 10px;
    }
    .main .container-contact ul li button .text{
        width:100%;
    }
}

/* CUSTOM SCROLL DOCUMENT */
::-webkit-scrollbar-track {
    /* background-color: #F4F4F4; */
    background-color: var(--color-black-dark);
}
::-webkit-scrollbar {
    width: 6px;
    /* background: #F4F4F4; */
    background-color: var(--color-black-medium);
}
::-webkit-scrollbar-thumb {
    /* background: #c4c4c4; */
    /* background: #dad7d7; */
    background-color: var(--color-black-light);
    border-radius: 10px;
}