@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '../css/global.css';
@import '../css/hidemenu.component.css';
@import '../css/dialog.css';
@import '../css/profile-card.css';
@import '../css/snackbar.css';


.main{
    width:100%;
    height:100%;
    display:flex;
    position: relative;
}

/* SIDEBAR */
.main .mdc-drawer{
    overflow: visible;
    width:100%;
    max-width: 300px;
    transition: all 0.5s;
    border:none;
}
.main .mdc-drawer__content{
    height: 91%;
}
.main .nav{
    height:100%;
    background: linear-gradient(180deg, var(--color-dark) 60%, var(--color-dark) 100%);
}
.main .nav .status-header,
.main .container-chat .box .status,
.main .container-contact .status{
    color:var(--color-white);
    text-align: center;
    font-size:30px;
    text-transform: uppercase;
    background:var(--background-header);
    height:60px;
    line-height:60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16px;
}
.main .nav .status-header span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .nav .status-header .perfil-img,
.main .container-chat .box .status .container-status .perfil-img{
    height:40px;
    width:40px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--color-silver);
}
.main .nav .status-header .perfil-img span,
.main .container-chat .box .status .container-status .perfil-img span{
    color: var(--color-white);
    cursor: pointer;
}
.main .nav .container{
    position:absolute; 
    bottom:0; 
    left: 0; 
    width:100%; 
    max-width:300px;
}
.main .nav .mdc-list{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:0;
    position: relative;
}
.main .nav .mdc-list .panel-profile,
.main .nav .mdc-list .panel-contacts{
   position:fixed;
   top:0;
   left:-100%;
   height:100%;
   width:100%;
   background: linear-gradient(180deg, var(--color-black) 60%, var(--color-black) 100%);
   max-width: 300px;
   transition:all 0.5s;
   z-index: 9;
}
.main .nav .mdc-list .panel-profile .profile .profile-img{
    margin: 8px 0;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name{
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 16px;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name .input-edit-name{
    background: var(--color-black);
    height:30px;
    border:none;
    outline:none;
    border-bottom: 1px solid var(--color-orange);
    width:100%;
    color: var(--color-light);
    max-width: 240px;
    text-align: left;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name span{
    background:var(--color-orange);
    height:40px;
    width:40px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name span i{
    color:var(--color-white);
    margin-left: 5px;
}
.main .nav .mdc-list .panel-profile .profile .profile-img span{
    background:var(--color-silver);
    display:inline-block;
    width:100%;
    height:100%;
    max-width:100px;
    max-height:100px;
    border-radius:50%;
    cursor:pointer;
}
.main .nav .mdc-list .panel-profile .profile .profile-img span i{
    font-size: 90px;
    color:var(--color-white);
}
.main .nav .mdc-list .panel-contacts .add-contact{
    margin: 8px 0;
}
.main .nav .mdc-list .panel-contacts .add-contact input{
    width:85%;
    border:none;
    height:30px;
    background: var(--color-dark);
    color: var(--color-white);
    padding:8px 16px;
}
.main .nav .mdc-list .panel-contacts .add-contact input:focus{
    border:none;
    outline:none;
}
.main .nav .mdc-list .panel-contacts .add-contact button{
    border:none;
    outline:none;
    background: var(--color-orange);
    color: var(--color-white);
    padding:8px 16px;
    width:50%;
    margin: 8px auto;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
.main .nav .mdc-list .panel-profile .close-profile,
.main .nav .mdc-list .panel-contacts .close-contacts{
    cursor: pointer;
    border:none;
    width:40px;
    height:40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background:var(--color-orange);
    color: var(--color-white);
}
.main .nav .mdc-list .status-show-menu:active{
    background: var(--color-silver);
    border:1px solid var(--color-orange);
}

.main .nav .mdc-list button{
    transition: all 1s;
    display:flex;
    justify-content: flex-start;
}
.main .nav .mdc-list button:active{
    background-color: var(--color-orange);
    background-size: 100%;
}
.main .nav .mdc-list .mdc-button__label{
    color:var(--color-white);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main .nav .mdc-list .mdc-button__label i{
    margin-right: 20px;
}
.main .nav .footer{
    height:60px;
    background:var(--color-black);
}
.main .custom-button{
    position: fixed;
    bottom:0;
    left:0;
    z-index: 6;
    background:var(--color-silver);
    border-radius:50%;
    width:40px;
    height:40px;
    min-width: 40px !important;
}
/* END SIDEBAR */
/* CHAT */
.main .container-chat{
    width:50%;
    transition: all 1s;
    background: var(--background-doodles);
    /* background: linear-gradient(to top, rgb(51,51,51), 60% #7d0000); */
}
.main .container-chat .box{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .container-chat .box .status .container-status{
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.main .container-chat .box .status .container-status .status-attachments{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width:140px;
}
.main .container-chat .box .status .container-status .status-attachments button{
    height:40px;
    width:40px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:none;
    cursor:pointer;
    color:var(--color-white);
    background: inherit;
}
.main .container-chat .box .status .container-status .status-attachments button:disabled{
    color:var(--color-light);
    cursor: not-allowed;
}
.main .container-chat .box .status .container-status .status-attachments .status-open-attach-file{
    position:absolute;
    top:100%;
    height:0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
}
.main .container-chat .box .status .container-status .status-attachments .status-open-attach-file span{
    height:40px;
    width:40px;
    border-radius: 50%;
    background: var(--color-orange);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main .container-chat .box .status .container-status .status-attachments span{
    display:flex;
    cursor:pointer;
}
.main .container-chat .box .status .container-status .perfil{
    width:45%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.main .container-chat .box .status .container-status .perfil .perfil-img{
    margin:0 15px;
}
.main .container-chat .box .status .container-status .perfil .perfil-img span i{
    line-height: 60px;
}
.main .container-chat .box .status .container-status .perfil .info{
    width:65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main .container-chat .box .status .container-status .perfil .info span{
    font-size:12px;
    line-height: 20px;
}
.main .container-chat .box .chat{
    color:white;
    height:100%;
    max-height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding:0 60px 20px 60px; */
    margin: 0 32px;
}
.main .container-chat .box .chat .no-contact-selected{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    color: var(--color-light);
}
.main .container-chat .box .chat .no-contact-selected .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .container-chat .box .chat .container-photo{
    width:100%;
    height: calc(100% - 90px);
    text-align: center;
    background: var(--color-dark);
    position:relative;
    margin: 8px 0;
}
.main .container-chat .box .chat .container-photo span{
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
}
.main .container-chat .box .chat .sub-header-chat{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.main .container-chat .box .preview-panel-file{
    height:100%;
    margin: 8px 32px;
}
.main .container-chat .box .preview-panel-file .container-file{
    height: calc(100% - 60px);
}
.main .container-chat .box .preview-panel-file .container-file .preview-content{
    height: calc(100% - 100px);
    background:var(--color-dark);
    margin: 8px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main .container-chat .box .preview-panel-file .container-file .preview-content .icon-files{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 0 8px;
}
.main .container-chat .box .preview-panel-file .container-file .preview-content .icon-files span{
    display:flex;
    width:60px;
    height:60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:5px;
    position:relative;
}
.main .container-chat .box .preview-panel-file .container-file .preview-content .icon-files img{
    width:45%;
}
.main .container-chat .box .preview-panel-file .container-file .preview-content .icon-files span:hover{
    background: rgba(0,0,0,0.24);
}
.main .container-chat .box .preview-panel-file .container-file .preview-content .icon-files span .close{
    position:absolute;
    top:0;
    right:0;
    display:none;
}
.main .container-chat .box .preview-panel-file .container-file .preview-content .icon-files span:hover .close{
    display: inline-block;
    font-size:12px;
}
.main .container-chat .box .preview-panel-file .container-file .name-photo{
    color:var(--color-light);
}
.main .container-chat .box .preview-panel-file .container-file .preview-footer{
    position: relative;
    background:var(--color-dark);
    margin: 8px 0;
}
.main .container-chat .box .preview-panel-file .container-file .preview-footer span{
    position:absolute;
    top:50%;
    right:0;
}
.main .container-chat .box .controls{
    width:100%;
    height: 60px;
    background: var(--color-black);
}
.main .container-chat .box .controls .controls-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background:var(--color-dark);
    border-radius: 32px;
    margin: 0 auto;
    width:84%;
    position:relative;
    /* padding:8px 0; */
}
.main .container-chat .box .controls .controls-container .emoji-panel{
    position:absolute;
    bottom:100%;
    left:0;
    width:100%;
    height:0;
    background: transparent;
    transition: all 0.5s;
    overflow-y: auto;
}
.main .container-chat .box .controls .controls-container .emoji-panel .emojis{
    font-size:24px;
    cursor:pointer;
}
.main .container-chat .box .controls .controls-container .form-group{
    width:60%;
    position: relative;
}
.main .container-chat .box .controls .controls-container .form-group input{
    height:50px;
    background:inherit;
    border:none;
    width:100%;
    color: var(--color-white);
    font-size:14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08em;
}
.main .container-chat .box .controls .controls-container .form-group .input-text{
    background:inherit;
    border:none;
    width:100%;
    max-height:100px;
    color: var(--color-white);
    font-size:14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08em;
    max-width:100%;
    word-break: break-all;
    overflow-y: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.main .container-chat .box .controls .controls-container .form-group .input-text:before{
    content: attr(placeholder);
    position: absolute;
    color: var(--color-light);
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.main .container-chat .box .controls .controls-container .form-group .input-text:focus{
    outline:none;
    border:none;
}
.main .container-chat .box .controls .controls-container .form-group input:focus{
    outline:none;
    border:none;
}
.main .container-chat .box .controls .controls-container .icons-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    max-width:95px;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording{
    display:inline-block;
    width:15px;
    height:15px;
    border-radius: 50%;
    background: var(--color-red);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: pulseAnimation;
    animation-name: pulseAnimation;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording:hover,
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording:focus,
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording:active{
    -webkit-animation-name: pulseAnimation;
    animation-name: pulseAnimation;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .time{
    width:25px;
    height:25px;
    cursor: default;

}

.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-close,
.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-send{
    background: var(--color-dark);
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-close{
    /* border: 1px solid var(--color-red); */
    color:var(--color-red);
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-send{
    /* border:1px solid var(--color-green); */
    color:var(--color-green);
}
.main .container-chat .box .controls .controls-container .icons-container span{
    width:40px;
    height:40px;
    background:var(--color-silver);
    border-radius:50%;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    border:none;
    cursor: default;
}
.main .container-chat .box .controls .controls-container .icons-container span:active{
    background:var(--color-dark);
}
.main .container-chat .box .controls .controls-container .icons-container span i{
    /* line-height: 40px;
    width:24px; */
    color:var(--color-white);
}

/* CHAT BALLON */
.main .container-chat .box .chat .message{
    width:100%;
    display:flex;
}
.main .container-chat .box .chat .message .container-cb {
    width:auto;
    background: var(--color-orange);
	border-radius: 0px 10px 10px 10px;
    position: relative;
    display:flex;
    margin-top:4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: auto;
}
.main .container-chat .box .chat .message .container-cb .cb{
    margin: 0 20px;
    display:flex;
    flex-direction: column;
}
.main .container-chat .box .chat .message .container-cb .cb span,
.main .container-chat .box .chat .message .container-cb2 .cb2 span{
    line-height: 17px;
    font-size:13.5px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.08em;
}
.main .container-chat .box .chat .message .container-cb .cb .time,
.main .container-chat .box .chat .message .container-cb2 .cb2 .time{
    font-size:10px;
}
.main .container-chat .box .chat .message .container-cb:before {
    content:'';
    position:absolute;
    top:0;
    left:-7px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid var(--color-orange);
}

.main .container-chat .box .chat .message .container-cb2 {
	background: var(--color-silver);
	border-radius: 10px 0px 10px 10px;
    position: relative;
    width:auto;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left:auto;
    margin-right: 0;
}
.main .container-chat .box .chat .message .container-cb2 .cb2{
    margin: 0 20px;
    display:flex;
    flex-direction: column;
}
.main .container-chat .box .chat .message .container-cb2:before {
    content: "";
	position: absolute;
    top:0;
    right:-7px;
    width:0; 
    height:0; 
	border-top: 0px solid transparent;
	border-left: 25px solid var(--color-silver);
	border-bottom:25px solid transparent;
}
/* END CHAT BALLON */
/* END CHAT */


/* CONTACT */
.main .container-contact{
    /* position:fixed; */
    top:0;
    right:0;
    height:100%;
    width:100%;
    color:var(--color-white);
    background: linear-gradient(180deg, var(--color-black) 60%, var(--color-black) 100%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.main .container-contact .contact,
.main .nav .mdc-list .panel-contacts .contact{
    padding:0;
    height: 80%;
}
.main .container-contact .footer{
    background:var(--color-black);
    height:60px;
}
/* SEARCH PEOPLE */
.main .container-contact .status .container-sp {
    background: var(--color-dark);
    border-radius: 40px;
	border: 1px solid var(--color-orange);
}
.main .container-contact .status .container-sp .sp{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}
.main .container-contact .status .container-sp .sp-btn {
	color: black;
	width:30px;
	height:30px;
	border-radius: 50%;
	background: var(--color-orange);
	display: flex;
	justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main .container-contact .status .container-sp .sp-btn .material-icons{
    font-size:20px;
}
.main .container-contact .status .container-sp .sp-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
    width:40%;
}
/* END SEARCH PEOPLE */
.main .container-contact ul,
.main .nav .mdc-list .panel-contacts .contact ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    max-height: 485px;
    overflow: auto;
}
.main .container-contact ul li,
.main .nav .mdc-list .panel-contacts .contact ul li{
    display:flex;
    flex-direction: row;
    width:100%;
    /* border-bottom:1px solid #e22a5360; */
    border-bottom:1px solid var(--color-silver);
}
.main .container-contact ul li button,
.main .nav .mdc-list .panel-contacts .contact ul li button{
    width:100%;
    background: transparent;
    border:none;
    outline:none;
    color:var(--color-silver);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor:pointer;
    transition: all 1s;
    background-color: var(--color-dark);
    padding:8px;
}
.main .container-contact ul li button:hover,
.main .nav .mdc-list .panel-contacts .contact ul li button:hover{
    background:var(--color-black);
}
.main .container-contact ul li button:active,
.main .nav .mdc-list .panel-contacts .contact ul li button:active{
    background-color: var(--color-silver);
    background-size: 100%;
    transition: all 1s;
}
.main .container-contact ul li button .img,
.main .nav .mdc-list .panel-contacts .contact ul li button .img{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:50px;
    width:100%;
    max-width: 50px;
    background:var(--color-silver);
    border-radius: 50%;
    margin-right: 10px;
}
.main .container-contact ul li button .img i,
.main .nav .mdc-list .panel-contacts .contact ul li button .img i{
    font-size:35px;
    color:var(--color-white);
}
.main .container-contact ul li button .text,
.main .nav .mdc-list .panel-contacts .contact ul li button .text{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    flex-direction: column;
    color:var(--color-white);
}
.main .container-contact ul li button .text .name,
.main .nav .mdc-list .panel-contacts .contact ul li button .text .name{
    font-size:13.5px;
    color: var(--color-orange-lighter);
    font-style: italic;
    letter-spacing:0.05em;
    font-weight: 700;
}
/* END CONTACT */


/* SEARCH ALEATORY */
.main .container-sa {
	position: fixed;
    bottom: 20px;
    right: 30px;
}
.main .container-sa .btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-orange);
    cursor:pointer;
}
/* END SEARCH ALEATORY */

/* GLOBAL */
.open-panel{
    left:0 !important;
}
.hide-panel{
    left:-100% !important; 
}
.open-attachments{
    display:flex;
    height:230px;
}
.open-panel-emoji{
    height:250px !important;
}
.active{
    background: var(--color-black) !important;
}
.btn-default{
    height:40px;
    width:40px;
    background:var(--color-orange);
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:var(--color-white);
    outline: none;
    border:none;
}
.btn-default:active{
    background: var(--color-orange-light);
}
.btn-default:disabled{
    color: var(--color-white);
    background: var(--color-light);
    cursor:not-allowed;
}

/* ANIMATIONS */
@-webkit-keyframes pulseAnimation {
    to{
        --webkit-transform:scale(1.2);
        transform:scale(1.2);
    }
}
@-moz-keyframes pulseAnimation {
    to{
        --moz-transform:scale(1.2);
        transform:scale(1.2);
    }
}
@-o-keyframes pulseAnimation {
    to{
        --o-transform:scale(1.2);
        transform:scale(1.2);
    }
}
@keyframes pulseAnimation {
    to{
        transform:scale(1.2);
    }
}
/* MEDIA QUERIES */
@media (max-width:768px){
    .main{
        justify-content: center;
    }
    .main .nav{
        position:fixed;
        top:0;
        left:0;
    }
    .main .container-contact{
        display:none;
    }
    .main .container-chat{
        width:100%;
    }
    .main .container-chat .box .chat{
        padding:25px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .main .container-contact{
        display:none;
    }
    .main .container-chat{
        width:73%;
        margin:0 auto;
    }
}
@media (min-width:1025px){
    .main{
        justify-content: space-between;
    }
    .main .container-chat{
        width: 100%;
    }
}

/* CUSTOM SCROLL DOCUMENT */
::-webkit-scrollbar-track {
    /* background-color: #F4F4F4; */
    background-color: var(--color-black-dark);
}
::-webkit-scrollbar {
    width: 6px;
    /* background: #F4F4F4; */
    background-color: var(--color-black-medium);
}
::-webkit-scrollbar-thumb {
    /* background: #c4c4c4; */
    /* background: #dad7d7; */
    background-color: var(--color-black-light);
    border-radius: 10px;
}
.emojik.wa.b59 {
    background-image: url('/assets/img/41d5efb8acd3487afc5ddea1501f0b08.webp');
}
.emojik.wa.b73 {
    background-image: url('/assets/img/e62a5283b1ce6074795c0187d2b1f558.webp');
}
.emojik.wa.b90 {
    background-image: url('/assets/img/57808f1baef5613ae7430addef0ae850.webp');
}
.emojik.wa.b61 {
    background-image: url('/assets/img/83a619e0b15471e086d43e690dacae77.webp');
}
.emojik.wa.b60 {
    background-image: url('/assets/img/53127fbfa400f71fc1dd0c0b99894922.webp');
}
.emojik.wa.b74 {
    background-image: url('/assets/img/d7e2cc8550cba88f118186e51c38d72c.webp');
}
.emojik.wa.b81 {
    background-image: url('/assets/img/14a4e42043b696112919bfd1b6309b26.webp');
}
.emojik.wa.b71 {
    background-image: url('/assets/img/59e6ec989ff0b2041745837cbc159867.webp');
}
.emojik.wa.b87 {
    background-image: url('/assets/img/122e775c91b96318a63daf7865786fdc.webp');
}
.emojik.wa.b45 {
    background-image: url('/assets/img/843eccaa1a42b8fbe80e2c2e145fa0bf.webp');
}
.emojik.wa.b44 {
    background-image: url('/assets/img/b5ad4d36b724bf3aa48e5f6bbec634ad.webp');
}
.emojik.wa.b48 {
    background-image: url('/assets/img/ce550ac4afce4d2fd49d862db443cabc.webp');
}
.emojik.wa.b17 {
    background-image: url('/assets/img/667e3712186e4bac44066e086521b46a.webp');
}
.emojik.wa.b30 {
    background-image: url('/assets/img/960dc1c1fb4887fb84d869425ea2b881.webp');
}
.emojik.wa.b64 {
    background-image: url('/assets/img/d8ea2cc09853bb7d2f07deb57862587f.webp');
}
.emojik.wa.b30 {
    background-image: url('/assets/img/960dc1c1fb4887fb84d869425ea2b881.webp');
}
.emojik.wa.b72 {
    background-image: url('/assets/img/21153985726f011c4743bddde2cec195.webp');
}
.emojik.wa.b29 {
    background-image: url('/assets/img/81e827fdf825193402a93ff78c0c13e8.webp');
}