@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '../css/hidemenu.component.css';

/* Reset */
*{
    margin:0;
    padding:0;
}
/* background-color: ; */
:root{
    --color-black: rgba(43,44,45,1);
    --color-orange:#96672b;
    --color-orange-lighter:#F0B27A;
    --color-orange-light:#da9947;
    --color-white:#e7e7e7;
    --color-silver:rgba(60,56,56,1);
    --color-red:#e22a53;
    --color-dark: rgb(51,51,51);
    --color-light:#9c9696;
    --color-green: lightgreen;
    --custom-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23380038' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E") #140014;
    --background-doodles: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='150' viewBox='0 0 1600 800'%3E%3Cpath fill='%23FF7' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%235ff' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.62' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E") var(--color-black) fixed;
    --background-header: rgba(53,53,53,1);


    /* --color-dark:#1f1f25; */
    /* --color-silver:#b6b6b6; */
    /* --color-orange:#ffa735; */
    /* --background-header: #737373; */
}
html, body{
    width:100%;
    height:100%;
}
body{
    background:var(--color-black);
    font-family: 'Baloo Tamma 2', cursive;
}
.main{
    width:100%;
    height:100%;
    display:flex;
    position: relative;
}

/* SIDEBAR */
.main .mdc-drawer{
    overflow: visible;
    width:100%;
    max-width: 300px;
    transition: all 0.5s;
    border:none;
}
.main .mdc-drawer__content{
    height: 91%;
}
.main .nav{
    height:100%;
    background: linear-gradient(180deg, var(--color-dark) 60%, var(--color-dark) 100%);
}
.main .nav .status-header,
.main .container-chat .box .status,
.main .container-contact .status{
    color:var(--color-white);
    text-align: center;
    font-size:30px;
    text-transform: uppercase;
    background:var(--background-header);
    height:60px;
    line-height:60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 16px;
}
.main .nav .status-header span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .nav .status-header .perfil-img,
.main .container-chat .box .status .container-status .perfil-img{
    height:40px;
    width:40px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--color-silver);
}
.main .nav .status-header .perfil-img span,
.main .container-chat .box .status .container-status .perfil-img span{
    color: var(--color-white);
    cursor: pointer;
}
.main .nav .container{
    position:absolute; 
    bottom:0; 
    left: 0; 
    width:100%; 
    max-width:300px;
}
.main .nav .mdc-list{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:0;
    position: relative;
}
.main .nav .mdc-list .panel-profile,
.main .nav .mdc-list .panel-contacts{
   position:fixed;
   top:0;
   left:-100%;
   height:100%;
   width:100%;
   background: linear-gradient(180deg, var(--color-black) 60%, var(--color-black) 100%);
   max-width: 300px;
   transition:all 0.5s;
}
.main .nav .mdc-list .panel-profile .profile .profile-img{
    margin: 8px 0;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name{
    width:100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding:0 16px;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name .input-edit-name{
    background: var(--color-black);
    height:30px;
    border:none;
    outline:none;
    border-bottom: 1px solid var(--color-orange);
    width:100%;
    color: var(--color-light);
    max-width: 240px;
    text-align: left;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name span{
    background:var(--color-orange);
    height:40px;
    width:40px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.main .nav .mdc-list .panel-profile .profile .container-menu .set-name span i{
    color:var(--color-white);
    margin-left: 5px;
}
.main .nav .mdc-list .panel-profile .profile .profile-img span{
    background:var(--color-silver);
    display:inline-block;
    width:100%;
    height:100%;
    max-width:100px;
    max-height:100px;
    border-radius:50%;
    cursor:pointer;
}
.main .nav .mdc-list .panel-profile .profile .profile-img span i{
    font-size: 90px;
    color:var(--color-white);
}
.main .nav .mdc-list .panel-contacts .add-contact{
    margin: 8px 0;
}
.main .nav .mdc-list .panel-contacts .add-contact input{
    width:85%;
    border:none;
    height:30px;
    background: var(--color-dark);
    color: var(--color-white);
    padding:8px 16px;
}
.main .nav .mdc-list .panel-contacts .add-contact input:focus{
    border:none;
    outline:none;
}
.main .nav .mdc-list .panel-contacts .add-contact button{
    border:none;
    outline:none;
    background: var(--color-orange);
    color: var(--color-white);
    padding:8px 16px;
    width:50%;
    margin: 8px auto;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
.main .nav .mdc-list .panel-profile .close-profile,
.main .nav .mdc-list .panel-contacts .close-contacts{
    cursor: pointer;
    border:none;
    width:40px;
    height:40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background:var(--color-orange);
    color: var(--color-white);
}
.main .nav .mdc-list .status-show-menu:active{
    background: var(--color-silver);
    border:1px solid var(--color-orange);
}

.main .nav .mdc-list button{
    transition: all 1s;
    display:flex;
    justify-content: flex-start;
}
.main .nav .mdc-list button:active{
    background-color: var(--color-orange);
    background-size: 100%;
}
.main .nav .mdc-list .mdc-button__label{
    color:var(--color-white);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main .nav .mdc-list .mdc-button__label i{
    margin-right: 20px;
}
.main .nav .footer{
    height:60px;
    background:var(--color-black);
}
.main .custom-button{
    position: fixed;
    bottom:0;
    left:0;
    z-index: 6;
    background:var(--color-silver);
    border-radius:50%;
    width:40px;
    height:40px;
    min-width: 40px !important;
}
/* END SIDEBAR */
/* CHAT */
.main .container-chat{
    width:50%;
    transition: all 1s;
    background: var(--background-doodles);
}
.main .container-chat .box{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.main .container-chat .box .status .container-status{
    height:100%;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.main .container-chat .box .status .container-status .status-attachments{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width:140px;
}
.main .container-chat .box .status .container-status .status-attachments button{
    height:40px;
    width:40px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:none;
    cursor:pointer;
    color:var(--color-white);
    background: inherit;
}
.main .container-chat .box .status .container-status .status-attachments button:disabled{
    color:var(--color-light);
    cursor: not-allowed;
}
.main .container-chat .box .status .container-status .status-attachments .status-open-attach-file{
    position:absolute;
    top:100%;
    height:0;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;
}
.main .container-chat .box .status .container-status .status-attachments .status-open-attach-file span{
    height:40px;
    width:40px;
    border-radius: 50%;
    background: var(--color-orange);
    display:flex;
    justify-content: center;
    align-items: center;
}
.main .container-chat .box .status .container-status .status-attachments span{
    display:flex;
    cursor:pointer;
}
.main .container-chat .box .status .container-status .perfil{
    width:45%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.main .container-chat .box .status .container-status .perfil .perfil-img{
    margin:0 15px;
}
.main .container-chat .box .status .container-status .perfil .perfil-img span i{
    line-height: 60px;
}
.main .container-chat .box .status .container-status .perfil .info{
    width:65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main .container-chat .box .status .container-status .perfil .info span{
    font-size:12px;
    line-height: 20px;
}
.main .container-chat .box .chat{
    color:white;
    height:100%;
    max-height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding:0 60px 20px 60px; */
    margin: 0 32px;
}
.main .container-chat .box .chat .no-contact-selected{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
    color: var(--color-light);
}
.main .container-chat .box .chat .no-contact-selected .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .container-chat .box .chat .container-photo{
    width:100%;
    height: calc(100% - 90px);
    text-align: center;
    background: var(--color-dark);
    position:relative;
    margin: 8px 0;
}
.main .container-chat .box .chat .container-photo span{
    position:absolute;
    bottom:-20px;
    left:50%;
    transform:translateX(-50%);
}
.main .container-chat .box .preview-panel-file{
    height:100%;
    margin: 8px 32px;
}
.main .container-chat .box .preview-panel-file .container-file{
    height: calc(100% - 60px);
}
.main .container-chat .box .preview-panel-file .container-file .preview-content{
    height: calc(100% - 100px);
    background:var(--color-dark);
    margin: 8px 0;
}
.main .container-chat .box .preview-panel-file .container-file .preview-footer{
    position: relative;
    background:var(--color-dark);
    margin: 8px 0;
}
.main .container-chat .box .preview-panel-file .container-file .preview-footer span{
    position:absolute;
    top:50%;
    right:0;
}
.main .container-chat .box .controls{
    width:100%;
    height: 60px;
    background: var(--color-black);
}
.main .container-chat .box .controls .controls-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background:var(--color-dark);
    border-radius: 32px;
    margin: 0 auto;
    width:84%;
    position:relative;
    /* padding:8px 0; */
}
.main .container-chat .box .controls .controls-container .emoji-panel{
    position:absolute;
    bottom:100%;
    left:0;
    width:100%;
    height:0;
    background: transparent;
    transition: all 0.5s;
    overflow-y: auto;
}
.main .container-chat .box .controls .controls-container .emoji-panel .emojis{
    font-size:24px;
    cursor:pointer;
}
.main .container-chat .box .controls .controls-container .form-group{
    width:60%;
    position: relative;
}
.main .container-chat .box .controls .controls-container .form-group input{
    height:50px;
    background:inherit;
    border:none;
    width:100%;
    color: var(--color-white);
    font-size:14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08em;
}
.main .container-chat .box .controls .controls-container .form-group .input-text{
    background:inherit;
    border:none;
    width:100%;
    max-height:100px;
    color: var(--color-white);
    font-size:14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08em;
    max-width:100%;
    word-break: break-all;
    overflow-y: auto;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.main .container-chat .box .controls .controls-container .form-group .input-text:before{
    content: attr(placeholder);
    position: absolute;
    color: var(--color-light);
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.main .container-chat .box .controls .controls-container .form-group .input-text:focus{
    outline:none;
    border:none;
}
.main .container-chat .box .controls .controls-container .form-group input:focus{
    outline:none;
    border:none;
}
.main .container-chat .box .controls .controls-container .icons-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    max-width:95px;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording{
    display:inline-block;
    width:15px;
    height:15px;
    border-radius: 50%;
    background: var(--color-red);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: pulseAnimation;
    animation-name: pulseAnimation;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording:hover,
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording:focus,
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .recording:active{
    -webkit-animation-name: pulseAnimation;
    animation-name: pulseAnimation;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record time .time{
    width:25px;
    height:25px;
    cursor: default;

}

.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-close,
.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-send{
    background: var(--color-dark);
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-close{
    /* border: 1px solid var(--color-red); */
    color:var(--color-red);
}
.main .container-chat .box .controls .controls-container .icons-container .audio-record .btn-record-send{
    /* border:1px solid var(--color-green); */
    color:var(--color-green);
}
.main .container-chat .box .controls .controls-container .icons-container span{
    width:40px;
    height:40px;
    background:var(--color-silver);
    border-radius:50%;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    border:none;
    cursor: default;
}
.main .container-chat .box .controls .controls-container .icons-container span:active{
    background:var(--color-dark);
}
.main .container-chat .box .controls .controls-container .icons-container span i{
    /* line-height: 40px;
    width:24px; */
    color:var(--color-white);
}

/* CHAT BALLON */
.main .container-chat .box .chat .message{
    width:100%;
    display:flex;
}
.main .container-chat .box .chat .message .container-cb {
    width:auto;
    background: var(--color-orange);
	border-radius: 0px 10px 10px 10px;
    position: relative;
    display:flex;
    margin-top:4px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: auto;
}
.main .container-chat .box .chat .message .container-cb .cb{
    margin: 0 20px;
    display:flex;
    flex-direction: column;
}
.main .container-chat .box .chat .message .container-cb .cb span,
.main .container-chat .box .chat .message .container-cb2 .cb2 span{
    line-height: 17px;
    font-size:13.5px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.08em;
}
.main .container-chat .box .chat .message .container-cb .cb .time,
.main .container-chat .box .chat .message .container-cb2 .cb2 .time{
    font-size:10px;
}
.main .container-chat .box .chat .message .container-cb:before {
    content:'';
    position:absolute;
    top:0;
    left:-7px;
    width: 0; 
    height: 0; 
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid var(--color-orange);
}

.main .container-chat .box .chat .message .container-cb2 {
	background: var(--color-silver);
	border-radius: 10px 0px 10px 10px;
    position: relative;
    width:auto;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left:auto;
    margin-right: 0;
}
.main .container-chat .box .chat .message .container-cb2 .cb2{
    margin: 0 20px;
    display:flex;
    flex-direction: column;
}
.main .container-chat .box .chat .message .container-cb2:before {
    content: "";
	position: absolute;
    top:0;
    right:-7px;
    width:0; 
    height:0; 
	border-top: 0px solid transparent;
	border-left: 25px solid var(--color-silver);
	border-bottom:25px solid transparent;
}
/* END CHAT BALLON */
/* END CHAT */


/* CONTACT */
.main .container-contact{
    /* position:fixed; */
    top:0;
    right:0;
    height:100%;
    width:100%;
    color:var(--color-white);
    background: linear-gradient(180deg, var(--color-black) 60%, var(--color-black) 100%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.main .container-contact .contact,
.main .nav .mdc-list .panel-contacts .contact{
    padding:0;
    height: 80%;
}
.main .container-contact .footer{
    background:var(--color-black);
    height:60px;
}
/* SEARCH PEOPLE */
.main .container-contact .status .container-sp {
    background: var(--color-dark);
    border-radius: 40px;
	border: 1px solid var(--color-orange);
}
.main .container-contact .status .container-sp .sp{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
}
.main .container-contact .status .container-sp .sp-btn {
	color: black;
	width:30px;
	height:30px;
	border-radius: 50%;
	background: var(--color-orange);
	display: flex;
	justify-content: center;
    align-items: center;
    text-decoration: none;
}
.main .container-contact .status .container-sp .sp-btn .material-icons{
    font-size:20px;
}
.main .container-contact .status .container-sp .sp-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
    width:40%;
}
/* END SEARCH PEOPLE */
.main .container-contact ul,
.main .nav .mdc-list .panel-contacts .contact ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    max-height: 485px;
    overflow: auto;
}
.main .container-contact ul li,
.main .nav .mdc-list .panel-contacts .contact ul li{
    display:flex;
    flex-direction: row;
    width:100%;
    /* border-bottom:1px solid #e22a5360; */
    border-bottom:1px solid var(--color-silver);
}
.main .container-contact ul li button,
.main .nav .mdc-list .panel-contacts .contact ul li button{
    width:100%;
    background: transparent;
    border:none;
    outline:none;
    color:var(--color-silver);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    cursor:pointer;
    transition: all 1s;
    background-color: var(--color-dark);
    padding:8px;
}
.main .container-contact ul li button:hover,
.main .nav .mdc-list .panel-contacts .contact ul li button:hover{
    background:var(--color-black);
}
.main .container-contact ul li button:active,
.main .nav .mdc-list .panel-contacts .contact ul li button:active{
    background-color: var(--color-silver);
    background-size: 100%;
    transition: all 1s;
}
.main .container-contact ul li button .img,
.main .nav .mdc-list .panel-contacts .contact ul li button .img{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    height:50px;
    width:100%;
    max-width: 50px;
    background:var(--color-silver);
    border-radius: 50%;
    margin-right: 10px;
}
.main .container-contact ul li button .img i,
.main .nav .mdc-list .panel-contacts .contact ul li button .img i{
    font-size:35px;
    color:var(--color-white);
}
.main .container-contact ul li button .text,
.main .nav .mdc-list .panel-contacts .contact ul li button .text{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    flex-direction: column;
    color:var(--color-white);
}
.main .container-contact ul li button .text .name,
.main .nav .mdc-list .panel-contacts .contact ul li button .text .name{
    font-size:13.5px;
    color: var(--color-orange-lighter);
    font-style: italic;
    letter-spacing:0.05em;
    font-weight: 700;
}
/* END CONTACT */


/* SEARCH ALEATORY */
.main .container-sa {
	position: fixed;
    bottom: 20px;
    right: 30px;
}
.main .container-sa .btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-orange);
    cursor:pointer;
}
/* END SEARCH ALEATORY */

/* GLOBAL */
.open-panel{
    left:0 !important;
}
.hide-panel{
    left:-100% !important; 
}
.open-attachments{
    display:flex;
    height:230px;
}
.open-panel-emoji{
    height:250px !important;
}
.active{
    background: var(--color-black) !important;
}
.btn-default{
    height:40px;
    width:40px;
    background:var(--color-orange);
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:var(--color-white);
    outline: none;
    border:none;
}
.btn-default:active{
    background: var(--color-orange-light);
}
.btn-default:disabled{
    color: var(--color-white);
    background: var(--color-light);
    cursor:not-allowed;
}
.dialog-attach-contact{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.55);
    width:100%;
    height:100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display:flex;
    transition: all 0.2s;
    transform:scale(0);
}
.dialog-attach-contact .container-contact{
    width:100%;
    max-width:450px;
    height:100%;
    max-height:400px;
    margin: 0 auto;
    background: var(--color-black);
    border-radius: 8px;
    overflow: hidden;
    position: relative;           
}
.dialog-attach-contact .container-contact .header-contact,
.dialog-attach-contact .container-contact .footer-contact{
    padding:8px 16px;
}
.dialog-attach-contact .container-contact .header-contact{
    background: var(--color-dark);
    border-radius: 8px 8px 0px 0px;
}
.dialog-attach-contact .container-contact .content-contact{
    list-style: none;
    display:flex;
    flex-direction: column;
    height:250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.dialog-attach-contact .container-contact .content-contact li{
    display:flex;
    align-items: center;
    margin: 8px 0;
    color: var(--color-white);
    padding:0 25px;
}
.dialog-attach-contact .container-contact .content-contact li:hover{
    background: var(--color-dark);
}
.dialog-attach-contact .container-contact .content-contact li input[type="checkbox"]{
   display:none;
}
.dialog-attach-contact .container-contact .content-contact li input[type="checkbox"] + label::before{
  content: '\2714';
  outline: 0.1em solid var(--color-orange);
  display:inline-block;
  width:1em;
  height:1em;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 0.2em;
  vertical-align: bottom;
  color:transparent;
}
.dialog-attach-contact .container-contact .content-contact li input[type="checkbox"]:checked + label::before{
    background-color: var(--color-dark);
    outline: none;
    color: var(--color-orange);
}

.dialog-attach-contact .container-contact .content-contact li label{
    display:flex;
    cursor:pointer;
    width:100%;
    align-items: center;
    justify-content: flex-start;
}
.dialog-attach-contact .container-contact .content-contact li label .img{
    width:20%;
}
.dialog-attach-contact .container-contact .content-contact li label .img span{
    width:60px;
    height:60px;
}
.dialog-attach-contact .container-contact .content-contact li label .img span i{
    font-size:40px;
}
.dialog-attach-contact .container-contact .content-contact li label .text{
    width:80%;
    display:flex;
    flex-direction: column;
}
.dialog-attach-contact .container-contact .footer-contact{
    color:var(--color-white);
}
.dialog-attach-contact .container-contact button{
    position:absolute;
    bottom:30px;
    right:0;
}

/* ANIMATIONS */
@-webkit-keyframes pulseAnimation {
    to{
        --webkit-transform:scale(1.2);
        transform:scale(1.2);
    }
}
@-moz-keyframes pulseAnimation {
    to{
        --moz-transform:scale(1.2);
        transform:scale(1.2);
    }
}
@-o-keyframes pulseAnimation {
    to{
        --o-transform:scale(1.2);
        transform:scale(1.2);
    }
}
@keyframes pulseAnimation {
    to{
        transform:scale(1.2);
    }
}
/* MEDIA QUERIES */
@media (max-width:768px){
    .main{
        justify-content: center;
    }
    .main .nav{
        position:fixed;
        top:0;
        left:0;
    }
    .main .container-contact{
        display:none;
    }
    .main .container-chat{
        width:100%;
    }
    .main .container-chat .box .chat{
        padding:25px;
    }
}
@media (min-width:769px) and (max-width:1024px){
    .main .container-contact{
        display:none;
    }
    .main .container-chat{
        width:73%;
        margin:0 auto;
    }
}
@media (min-width:1025px){
    .main{
        justify-content: space-between;
    }
    .main .container-chat{
        width: 100%;
    }
}

/* CUSTOM SCROLL DOCUMENT */
::-webkit-scrollbar-track {
    /* background-color: #F4F4F4; */
    background-color: var(--color-black-dark);
}
::-webkit-scrollbar {
    width: 6px;
    /* background: #F4F4F4; */
    background-color: var(--color-black-medium);
}
::-webkit-scrollbar-thumb {
    /* background: #c4c4c4; */
    /* background: #dad7d7; */
    background-color: var(--color-black-light);
    border-radius: 10px;
}
.emojik.wa.b59 {
    background-image: url('/assets/img/41d5efb8acd3487afc5ddea1501f0b08.webp');
}
.emojik.wa.b73 {
    background-image: url('/assets/img/e62a5283b1ce6074795c0187d2b1f558.webp');
}
.emojik.wa.b90 {
    background-image: url('/assets/img/57808f1baef5613ae7430addef0ae850.webp');
}
.emojik.wa.b61 {
    background-image: url('/assets/img/83a619e0b15471e086d43e690dacae77.webp');
}
.emojik.wa.b60 {
    background-image: url('/assets/img/53127fbfa400f71fc1dd0c0b99894922.webp');
}
.emojik.wa.b74 {
    background-image: url('/assets/img/d7e2cc8550cba88f118186e51c38d72c.webp');
}
.emojik.wa.b81 {
    background-image: url('/assets/img/14a4e42043b696112919bfd1b6309b26.webp');
}
.emojik.wa.b71 {
    background-image: url('/assets/img/59e6ec989ff0b2041745837cbc159867.webp');
}
.emojik.wa.b87 {
    background-image: url('/assets/img/122e775c91b96318a63daf7865786fdc.webp');
}
.emojik.wa.b45 {
    background-image: url('/assets/img/843eccaa1a42b8fbe80e2c2e145fa0bf.webp');
}
.emojik.wa.b44 {
    background-image: url('/assets/img/b5ad4d36b724bf3aa48e5f6bbec634ad.webp');
}
.emojik.wa.b48 {
    background-image: url('/assets/img/ce550ac4afce4d2fd49d862db443cabc.webp');
}
.emojik.wa.b17 {
    background-image: url('/assets/img/667e3712186e4bac44066e086521b46a.webp');
}
.emojik.wa.b30 {
    background-image: url('/assets/img/960dc1c1fb4887fb84d869425ea2b881.webp');
}
.emojik.wa.b64 {
    background-image: url('/assets/img/d8ea2cc09853bb7d2f07deb57862587f.webp');
}
.emojik.wa.b30 {
    background-image: url('/assets/img/960dc1c1fb4887fb84d869425ea2b881.webp');
}
.emojik.wa.b72 {
    background-image: url('/assets/img/21153985726f011c4743bddde2cec195.webp');
}
.emojik.wa.b29 {
    background-image: url('/assets/img/81e827fdf825193402a93ff78c0c13e8.webp');
}