<div class="container-contact">
    
    <div class="status">
        <div class="container-sp">
            <div class="sp">
                <input class="sp-txt" type="text" name="" placeholder="Procurar">
                <a class="sp-btn" href="#">
                    <i class="small material-icons">search</i>
                </a>
            </div>
        </div>
    </div>
    <app-page-app></app-page-app>
    <div class="contact">
        <ul id="list-contact"></ul>
    </div>
    
    <div class="footer"></div>
</div>